.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-bottom: 80px;


    h1{
        margin-bottom: 40px;
        color: var(--Blue);
    }
    p{
        margin-bottom: 10px;
        color: var(--Black);
    }
    form{
        display: flex;
        gap: 10px;
        
    }
    input{
        padding: 0 90px;
    
    }

    .buttonSearch{
        border-radius: 255px;
        padding: 4px 10px;
        border: none;
        background-color: var(--Blue);
        color: var(--White);
    }
    .filter{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

        h3{
            margin-top: 30px;
        }
    }
    
}