.searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-bottom: 5rem;


    h1{
        margin-bottom: 2.5rem;
        color: var(--Blue);
    }
    p{
        margin-bottom: 0.625rem;
        color: var(--Black);
    }
    form{
        display: flex;
        gap: 0.625rem;
        
    }
    input{
        padding: 0 5.625rem;
    
    }

    .buttonSearch{
        border-radius: 15.9375rem;
        padding: 0 1.25rem;
        border: none;
        background-color: var(--Blue);
        color: var(--White);
    }
    .filter{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3.125rem;

        h3{
            margin: 1.25rem;
            
        }
    }
    
}