.registerBox {
  height: 73.4vh;
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 5vw, 44px);
}

.buttonCreate {
  width: 100% !important;

  @media (min-width: 900px) {
    width: fit-content !important;

    align-self: flex-end;
  }
}
