.about {
  height: 589px;
  padding: 50px 0;
}

.flexBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, 5vw, 75px);

  & > div {
    width: 100%;
  }

  @media (min-width: 980px) {
    flex-direction: row;
  }
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  gap: clamp(28px, 5vw, 51px);
}
