.headerPattern {
  display: flex;
  align-items: center;
}
.headerContainer {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.headerContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.searchBtn {
  color: var(--Blue);
}
@media (width < 700px) {
  .headerPattern {
    display: flex;
    align-items: center;
  }
  .headerContainer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerContent {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .searchBtn {
    color: var(--Blue);
  }
}
.linkAcess {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  font-weight: 700;
  cursor: pointer;
  color: var(--Black);
  p{

    &:hover{
      color: gray;
    }
  }
  &:visited {
    color: black;
    text-decoration-color: none;
  }
}
@media (width < 700px) {
  .linkAcess {
    position: absolute;
    right: 30vw;
    bottom: 5%;
    left: 30vw;
    margin: 0 auto;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    font-weight: 700;
    &:visited {
      color: black;
      text-decoration-color: none;
      
    }
  }
}
.buttonHeader,.buttonHeader:hover{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 20px 35px;
  height: 32px;
  border-radius: 255px;
  color: var(--White);
  font-family: var(--font-family);
  background: var(--Blue);

  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  &:hover {
    filter: brightness(1.1);
  }
}

@media (width < 700px){
  .buttonHeader{
    display: none;
  }
}