.headerPattern{
  display: flex;
  align-items: center;
}
.headerContainer{
  height: 58px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContent{
  display: flex;
  gap: 1rem;
}