:root {
  --White: #f9f9ff;
  --Lightblue: #f9f9ff;
  --Blue: #8490ff;
  --Black: #000000;

  --font-family: "Montserrat", sans-serif;
}

// link fonte

// <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
