.title {
  font-weight: 700;

  &.one {
    font-size: clamp(44px, 5vw, 64px);
    line-height: normal;
  }

  &.two {
    font-size: 35px;
    line-height: normal;
  }

  &.tree {
    font-size: 21px;
    line-height: normal;
  }

  &.boldAlert {
    font-size: 16px;
    line-height: normal;
  }

  &.menu {
    font-size: 16px;
    line-height: normal;
  }

  &.blue {
    color: var(--Blue);
  }

  &.white {
    color: var(--White);
  }

  &.center {
    text-align: center;
  }
}
.paragraph {
  font-size: 18px;
  font-weight: 400;

  line-height: normal;

  &.bold {
    font-weight: 700;
  }
  &:visited {
    color:black;
    text-decoration-color: none;
  }
}
@media (width < 700px) {
  
}
.label {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  &.blue {
    color: var(--Blue);
  }
}
