.title {
  font-weight: 700;

  &.one {
    font-size: clamp(44px, 5vw, 64px);
    line-height: normal;
  }

  &.two {
    font-size: 44px;
    line-height: 64px;
  }

  &.tree {
    font-size: 21px;
    line-height: 26px;
  }

  &.boldAlert {
    font-size: 16px;
    line-height: 19px;
  }

  &.menu {
    font-size: 16px;
    line-height: 19px;
  }

  &.blue {
    color: var(--Blue);
  }

  &.white {
    color: var(--White);
  }

  &.paragraphBold {
    font-size: 18px;
    line-height: 36px;
  }
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;

  &.strong{
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
  }
}

.label {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

