.footerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 204px;

    
    color: var(--White);
    p{
        text-align: center;
    }
    img{
        width: 69px;
    }

    @media (min-width: 800px) {
        height: 103px;
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.backFooter{
    display: flex;
    align-items: center;
    padding: 0 50px;
    
    background-color: var(--Black);
    

}
