.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 5px;
  max-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.278);

  .Modal {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 15px;
    width: 390px;
    gap: 20px;
    background: white;
    @media (min-width: 920px) {
      width: 460px;
    }

    div {
      display: flex;
      justify-content: space-between;
   align-items: center;
      h2 {
        margin-top: 21px;
        color: var(--Blue);
      }
      span {
        font-size: 20px;
        color: rgba(120, 119, 119, 0.83);
      }
    }
    p {
      color: var(--Black);
    }
    .btnModal {
      position: relative;
      left: 155px;
      width: 202px;
      border: none;
      @media (min-width: 920px) {
        position: relative;
        left: 221px;
      }
    }
  }
}
